<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="og:title" content="Champion Stats | LOL">
    <meta property="og:description" content="87">
    <meta property="og:image" content="https://pm1.aminoapps.com/5757/3836fdfd88a219e7bce7632a2cc54a821fb3827e_hq.jpg">
    <meta property="og:type" content="website">
    <title>Champion Stats | LOL</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Inter Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" rel="stylesheet">
    <style>
        /*tr > th:first-child {*/
        /*    position: sticky;*/
        /*    left: 0;*/
        /*    background-color: rgb(243 244 246); !* Prevent transparency under scrolling *!*/
        /*    z-index: 10; !* Ensure it's above the scrolling cells *!*/
        /*}*/
        /*tr > td:first-child {*/
        /*    position: sticky;*/
        /*    left: 0;*/
        /*    background-color: white; !* Prevent transparency under scrolling *!*/
        /*    z-index: 10; !* Ensure it's above the scrolling cells *!*/
        /*}*/
    </style>
</head>
<body class="font-mono bg-gray-50 text-gray-900 min-h-screen p-4">

<div class="max-w-5xl mx-auto">
    <!-- Dropdown for User Selection -->
    <div class="relative inline-block text-left mb-6">
        <div>
            <button type="button"
                    class="user-dropdown-btn inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                    id="user-dropdown">
                {{ selected_user }}
                <svg class="ml-2 -mr-1 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
            </button>
        </div>

        <!-- Dropdown Menu -->
        <div class="dropdown-menu origin-top-right absolute left-0 mt-2 w-52 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none hidden z-10"
             id="user-dropdown-menu">
            <div class="py-1">
                {% for user in users %}
                <a href="{{ url_for('index', user=user, game_count=selected_game_count) }}"
                   class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 {% if user == selected_user %}bg-gray-100 text-gray-900{% endif %}">
                    {% set username_parts = user.split('#') %}
                    <span class="font-medium">{{ username_parts[0] }}</span>
                    <span class="text-gray-500 text-xs">#{{ username_parts[1] }}</span>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Dropdown for Game Count Selection -->
    <div class="relative inline-block text-left mb-6">
        <div>
            <button type="button"
                    class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                    id="game-count-dropdown">
                {{ selected_game_count }} Games
                <svg class="ml-2 -mr-1 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
            </button>
        </div>

        <!-- Dropdown Menu for Game Count -->
        <div class="dropdown-menu origin-top-right absolute left-0 mt-2 w-32 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none hidden z-10"
             id="game-count-dropdown-menu">
            <div class="py-1">
                {% for game_count in game_counts %}
                <a href="{{ url_for('index', user=selected_user, game_count=game_count) }}"
                   class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 {% if count == selected_game_count %}bg-gray-100 text-gray-900{% endif %}">
                    {{ game_count }}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        // Get the button and dropdown elements for user and game count
        const dropdownButton = document.getElementById("user-dropdown");
        const dropdownMenu = document.getElementById("user-dropdown-menu");
        const gameCountButton = document.getElementById("game-count-dropdown");
        const gameCountMenu = document.getElementById("game-count-dropdown-menu");

        // Toggle the dropdown visibility
        dropdownButton.addEventListener("click", function () {
            dropdownMenu.classList.toggle("hidden");
        });
        gameCountButton.addEventListener("click", function () {
            gameCountMenu.classList.toggle("hidden");
        });

        // Close the dropdown when clicking outside of it
        document.addEventListener("click", function (event) {
            if (!dropdownButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
                dropdownMenu.classList.add("hidden");
            }
            if (!gameCountButton.contains(event.target) && !gameCountMenu.contains(event.target)) {
                gameCountMenu.classList.add("hidden");
            }
        });
    </script>


    <!-- Content Area for Current User -->
    <div id="user-stats" class="bg-white rounded-2xl shadow-lg p-6">
        <h1 id="user-title" class="text-3xl font-semibold mb-6">
            {% set username_parts = selected_user.split('#') %}
            <span class="text-lg">{{ username_parts[0] }}</span>
            <span class="text-gray-500 text-sm">#{{ username_parts[1] }}</span>
            <br>
            <span class="text-sm font-normal text-gray-500">{{ selected_game_count }} recent games since {{ time_diff }} ago</span>
        </h1>
        <div class="overflow-x-auto">

            <div class="overflow-x-auto">
                {% import "macros.html" as macros %}
                <table class="min-w-full table-fixed text-xs border border-gray-200 rounded-lg">
                    <thead class="bg-gray-100 text-gray-700 text-left uppercase text-xs tracking-wider">
                    <tr>
                        <th class="px-6 py-2 fixed-column">Champion</th>
                        <th class="px-2 py-2 ">Role</th>
                        <th class="px-2 py-2">Games</th>
                        <th class="px-4 py-2">Win Rate</th>
                        <th class="px-4 py-2">KDA</th>
                        <th class="px-4 py-2">
                            KP
                            <button class="ml-1 text-gray-400 hover:text-gray-600 focus:outline-none relative group">
                                <svg class="w-4 h-4 inline-block" fill="none" stroke="currentColor" stroke-width="2"
                                     viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M13 16h-1v-4h-1m1-4h.01M12 20a8 8 0 100-16 8 8 0 000 16z"></path>
                                </svg>
                                <!-- Tooltip -->
                                <div class="absolute z-10 hidden group-hover:block bg-white border border-gray-300 text-gray-700 text-xs rounded shadow-lg w-48 p-2 right-0 top-6">
                                    Kill Participation (KP) is the percentage of team kills a player was involved in.
                                </div>
                            </button>
                        </th>
                        <th class="px-4 py-2">
                            GD@14
                            <button class="ml-1 text-gray-400 hover:text-gray-600 focus:outline-none relative group">
                                <svg class="w-4 h-4 inline-block" fill="none" stroke="currentColor" stroke-width="2"
                                     viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M13 16h-1v-4h-1m1-4h.01M12 20a8 8 0 100-16 8 8 0 000 16z"></path>
                                </svg>
                                <!-- Tooltip -->
                                <div class="absolute z-10 hidden group-hover:block bg-white border border-gray-300 text-gray-700 text-xs rounded shadow-lg w-56 p-2 right-0 top-6">
                                    Gold Difference at 14 minutes (GD@14) shows how much more or less gold the player
                                    has compared to their enemy laner at minute 14.
                                </div>
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                    <tr class="hover:bg-gray-50 transition ">
                        <td class="px-4 py-2 font-mono border-b-2 fixed-column">
                            <span class="font-bold">{{ overview_win_rate.name }}</span>
                        </td>
                        <td class="px-4 py-2 font-mono border-b-2">
                        </td>
                        <td class="px-4 py-2 font-mono border-b-2">
                            {{ overview_win_rate.games }}
                        </td>
                        <td class="px-4 py-2 border-b-2">
                            <span class="px-2 py-1 rounded-full text-xs font-bold
                              {% if overview_win_rate.win_rate > 60 %}bg-green-100 text-green-700
                              {% elif overview_win_rate.win_rate < 40 %}bg-red-100 text-red-700{% endif %}">
                              {{ overview_win_rate.win_rate }}%
                            </span>
                        </td>
                        <td class="px-4 py-2 border-b-2">
                            <span class="px-2 py-1 rounded-full text-xs font-bold
                              {% if overview_win_rate.kda > 3 %}bg-green-100 text-green-700
                              {% elif overview_win_rate.kda < 2 %}bg-red-100 text-red-700{% endif %}">
                              {{ overview_win_rate.kda }}
                            </span>
                        </td>
                        <td class="px-4 py-2 border-b-2">
                            <span class="px-2 py-1 rounded-full text-xs font-bold
                              {% if overview_win_rate.kp > 55 %}bg-green-100 text-green-700
                              {% elif overview_win_rate.kp < 40 %}bg-red-100 text-red-700{% endif %}">
                              {{ overview_win_rate.kp }}%
                            </span>
                        </td>

                        <td class="px-4 py-2">
                            <span class="px-2 py-1 rounded-full text-xs font-bold
                              {% if overview_win_rate.gold_diff > 500 %}bg-green-100 text-green-700
                              {% elif overview_win_rate.gold_diff < -500 %}bg-red-100 text-red-700{% endif %}">
                              {{ "{:,}".format(overview_win_rate.gold_diff) }}
                            </span>
                        </td>
                    </tr>

                    {% for match in role_win_rate %}
                    {{ macros.render_match_row(match, champion_images, false, is_last=loop.last) }}
                    {% endfor %}

                    {% for match in matches %}
                    {{ macros.render_match_row(match, champion_images) }}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer class="mt-12 text-center text-sm text-gray-500 py-6 border-t border-gray-200">
        <p id="random-footer">Loading meme...</p>
    </footer>
    <script>
        const footers = [
            "Just FF, it's over. 🔥",
            "Win rate low? It's not inting if it’s a strategy. 🤓",
            "These stats are 100% accurate... unless you lost. Then it's your team's fault. 😤",
            "Stats don’t lie, but your gameplay does. GG EZ. 😅",
            "Better luck next time, or just FF. 😏",
            "Teemo is watching you... step carefully. 🍄",
            "哭啊，送爽沒 😢",
            "為什麼我勝率這麼低，是不是有人在搞？ 🤨",
            "Slowly song please ☠️",
        ];

        const randomFooter = footers[Math.floor(Math.random() * footers.length)];
        document.getElementById("random-footer").textContent = randomFooter;
    </script>
</div>
</body>
</html>
